//====================================
// Global Imports
//====================================

// 0 - Import vendor style - bootstrap
@import '0-vendor/bootstrap';

// 1 - Import base style, custom variables and mixins
@import '1-base/index';

// 2 - Import modules
@import '2-modules/index';

// 3 - Import layout  styles
@import '3-layout/index';



// base font
$font__regular : 'Open Sans', sans-serif;	// 300,400,600,700

// theme colors
$color__black: #000;
$color__white: #fff;
$color__red: #f15b4c;
$screen__medium: 767px;


// reset (to be moved to its partials folders)
body{
	padding: 0;
	margin: 0;
}


// mixings (to be moved to its partials folders)
@mixin tableBorder ($size:1, $type:solid, $color:$color__black ) {
	border: $size+px $type $color;
	border-right: 0;
	&:last-of-type{
		border-right: $size+px $type $color;
	}
}


// component (to be moved to its partials folders)
.tabs{
	
	color: $color__black;
	font-size: 14px;
	font-family: $font__regular;
	max-width: 768px;
	margin: 3rem auto;
    text-align: center;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;

	@media (max-width: $screen__medium){
		display: block;
	}
	
	.tab-nav_item{
		z-index: 1;
	    flex: 0 1 9em;
		color: $color__black;
	    font-size: 1.15rem;
	    font-weight: 700;
	    letter-spacing: .15em;
	    text-decoration: none;
		@include tableBorder(1);
	    padding: .5rem .75rem;
	    transition: all .3s ease-in-out .1s;
		

		&:hover,
		&.active{
			background-color: $color__black;
			color: $color__white;
		}
		
		@media (max-width: $screen__medium){
			display: block;
		    font-size: .95rem;
		    font-weight: 700;
		    letter-spacing: .1em;
		    text-decoration: none;
		    padding: .25em 1em;
		    text-align: left;
		    line-height: 2rem;
		    
		    @include tableBorder(0);	// reset
		    border-top: 1px solid $color__black;
		    &:last-of-type{
		    	border-bottom: 1px solid $color__black;

		    	&.active{
					border-bottom: 0;
		    	}
		    }
			
			&:hover,
			&.active{
				background-color: $color__white;
				color: $color__black;
			}

			&::after{
				content:'+';
				float: right;
				font-size: 1.25rem;
				font-weight: 400;
			}

			&.active::after{
				content:'-';
			}
		}
	}


	.tab-panel_item{
		position: absolute;
		display: table;
		margin-top: 2rem;
		
		visibility: hidden;
		opacity: 0;
		transform: translateY(-2%);
		transition: all .3s ease-in-out .1s;
		
		&.active{
			padding: 4rem 1rem;
			visibility: visible;
			opacity: 1;
			transform: translateY(0%);
		}

		@media (max-width: $screen__medium){
			position: relative;
			margin-top: initial;
			display: none;		
			transition: all .1s ease-in-out, opacity visibility .3s ease-in-out .1s;
			
			&.active{
				display:block;			
			}
		}
	}



	.m-col{
		display: flex;
	    flex-direction: row;
	    justify-content: center;

		.m-col_item{
	    	flex: 0 1 20em;
		}
		
		&--70w{
			max-width: 70%;
			margin: auto;
		}

		@media (max-width: $screen__medium){
			&--70w{
				max-width: 100%;
			}			
		}

	}

	.separater::after {
	    display: inline-block;
	    content: '';
	    border-bottom: 1px solid $color__black;
	    // padding: 0;
	    margin: 1em 0;
	    width: 50px;
	    height: 1px;
	}

	.precentage {
	    font-size: 3.25rem;
	    font-weight: 500;
	    margin: 0 auto;
		line-height: 1em;

	    + p{
			font-size: 1.25rem;
    		margin: 0 auto;
	    }

	    @media (max-width: $screen__medium){
			font-size: 2.25rem;

		    + p{
				font-size: 1rem;
		    }	    	
	    }
	}

}

