<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Nish - Creative Create LLC">
	<link rel="icon" type="image/png" href="./images/favicon.png">

	block pagehead
	<!-- load bootstrap, theme CSS -->
	<link rel="stylesheet" href="./css/main.min.css">
	
</head>
<body>
	block content

	<!-- load jQuery, Popper, Bootstrap and theme js -->
	<script src="./js/main.min.js"></script>
</body>
</html>