<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>5 Section Landing Page</title>
		<meta name="description" content="Landing page with header/hero, features, pricing, team and footer sections">
		<meta name="author" content="Nish - Creative Create LLC">
		<meta name="keywords" content="HTML, CSS, JS, Sass, JavaScript, Bootstrap, front-end, frontend, web development">
		<link rel="icon" type="image/png" href="./images/favicon.png">
		<!-- load bootstrap, theme CSS -->
		<link rel="stylesheet" href="./css/main.min.css">
	</head>
	<body>
		block content


		<!-- load jQuery, Popper, Bootstrap and theme js -->
		<script src="./js/main.min.js"></script>
	</body>
</html>