<section class="features container">
	<div class="row">
		<div class="features__img col-sm-6 col-lg-4 offset-lg-2">
			<img src="./images/iPhone.png" class="img-fluid" alt="iPhone">
		</div>
		<div class="features__text m-4 m-sm-0 col-sm-5 col-lg-4">
			<div class="row">			
				<h2 class="features__sub-title">Best Service</h2>
				<h1 class="features__title">Our Work Flow</h1>
				<p class="features__description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ex ea commodo consequat.<br><br>

					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium natus error sit. 
				</p>
				<button type="button" class="btn btn-outline-secondary">Learn More</button>
			</div>
		</div>
	</div>
	
</section>