<footer class="footer container-fluid">
	<div class="footer__top row">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-center text-sm-left">
					<h2 class="footer__top-title mt-4 mt-sm-0">About Creation</h2>
					<div class="footer__top-content">
						They are big, bold and beautiful. Billboards have been around for quite a while. 
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<h2 class="footer__top-title mt-4 mt-sm-0">Social Media</h2>
					<div class="footer__top-content footer__top-social icon-social-circle d-flex justify-content-center">
						<a href="#"><i class="fab fa-facebook"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-dribbble"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-pinterest"></i></a>
					</div>
				</div>
				<div class="col-sm-4 text-center text-sm-right">
					<h2 class="footer__top-title mt-4 mt-sm-0">Address</h2>
					<div class="footer__top-content">
						5th Floor, AH Building, 756 New Designst Melbourne, Australia
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom row d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="footer__bottom-copyright col-sm-6 text-center text-sm-left">
					© 2018 Creation All Rights Reserved
				</div>
				<div class="footer__bottom-link col-sm-6 text-center text-sm-right d-flex justify-content-around">
					<a href="#">Home</a>
					<a href="#">Work</a>
					<a href="#">Blog</a>
					<a href="#">Contact</a>
					<a href="#">About Us</a>
				</div>
			</div>
		</div>
	</div>
</footer>