<header class="hero jumbotron jumbotron-fluid">
	<div class="row">
		<div class="hero__content container col-12 col-sm-5">
			<div class="row">	
				<h1 class="hero__title offset-sm-2 offset-xl-0">
					Power Your Brand<span class='vc-green'>.</span>
				</h1>
				<p class="hero__description offset-sm-2 offset-xl-0">
					Duis aute irure in reprehenderit in voluptate velit esse cillum nulla pariatur.
				</p>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary offset-sm-2 offset-xl-0" data-toggle="modal" data-target="#contact_modal">
				  Get In Touch
				</button>
			</div>
		</div>
	</div>
</header>