extends partials/base

block append pagehead
	<!-- page meta -->
	<title>Form Submission Success</title>
	<meta name="description" content="Thank you page for form submission">
	<meta name="keywords" content="HTML, CSS, JS, Sass, JavaScript, Bootstrap, front-end, frontend, web development">

block append content
	<section class="wrapper container-fluid px-0">
		<!-- thank you message -->
		include partials/c-thankyou.html
	</section>