//**
// Navigation
//**


/* 
* Footer Nav.
*/
.footer__bottom-link{
	> a{
		font-size: convert(14);
		font-family: $font__header;
		color: rgba($color__white, .6 );
		text-transform: uppercase;
		line-height: convert(23);
		letter-spacing: convert(1);
		text-decoration: none;

		&:hover{
			color: $color__green;
		}
	}
}